RewriteEngine On

RewriteEngine On
RewriteBase /
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^view$ /view.php [L]
RewriteRule ^serie$ /serie.php [L]
RewriteRule ^login$ /login.php [L]
RewriteRule ^register$ /register.php [L]
RewriteRule ^lista-film$ /lista-film.php [L]
RewriteRule ^lista-serie$ /lista-serie.php [L]
RewriteRule ^search$ /search.php [L]