@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Lato', sans-serif;
}

a {
	color:white;
}

.header {
	max-width: 100%;
	width: 95%;
	margin: 20px auto 0px;
	color: #00aeef;
	background: #dadada;
	text-align: center;
	border: 1px solid #00aeef;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 30px 20px 20px 20px;
}

.menu {
	max-width: 100%;
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #00aeef;
	color: #00aeef;
	background-color: #fff;
	border-bottom: none;		
	display: flex;
 	justify-content: space-between;
}

ul {
	width: 30%;
    list-style-type: none;
    margin: 0;
    padding: 0 0px 0 60px;
    overflow: hidden;
}

li {
    float: left;
}

li.login {
    float: right;
}

li a {
    display: block;
	color: #00aeef;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #231F20;
}

li a.active {
	text-decoration: underline;
}

.menu ul{
width: 40%;
}

.search{
	padding: 14px 16px;
}
.menu input {
	height: 25px;
}
	
a.profile {
    color: #00aeef;
    text-decoration: underline;
}

.profile_info, ul.login {
	width: 32%;
	padding: 0 60px 0 0;
	display: inline;

}
.profile_info div {
	display: inline-block; 
	width: 100%;
}
.profile_info:after {
	content: "";
	display: block;
	clear: both;
}
ul.login {
	width: 100%;
}
.menu form {
	border: none;
	margin: 0;
	padding: 0;
}
form, .content {
	max-width: 100%;
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #00aeef;
	color: white;
	background-color: #231F20;
	border-radius: 0px 0px 10px 10px;
  	text-align: center;

}
.container {
  	text-align: center;
	margin: auto;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: center;
	margin: 10px 0 10px -300px;
}
.input-group input {
	height: 30px;
	width: 30%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #00aeef;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}
.btn,.button {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.btn,.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.disabled,.-btn:disabled,.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.btn.disabled:hover,.btn:disabled:hover{box-shadow:none}
.blue,.hover-blue:hover{color:#fff!important;background-color:#00aeef!important}
.del,.hover-del:hover{color:#fff!important;background-color:#C40609}
.delbtn {padding: 4px 8px; margin-top: 2px;}
.footer, a.a {font-size:13px;text-align:center;color: #231F20;margin-top: 25px;}
.footer a{
	color: #231F20;
}
.myfile img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: right;
}
.myfile div {display: inline-block; margin: 5px;}
.myfile:after {content: "";display: block;clear: both;}

.disabled {
	cursor: not-allowed;
}
input[type="text"]:disabled {
  background: #ccc;
}

.invisible {
	border: none;
	padding: 0px;
	margin: 5px;
	
}
.logged {
	color: #fff;
	padding-top: 20px;
	font-size: 120%;
}
.notlogged {
	color: #fff;
	padding: 20px 0;
	font-size: 120%;
	background-color: #231f20;
	border: 1px solid #00aeef;
}
.epscontainer {
	background-color: #231f20;
	border: 1px solid #00aeef;
	color: #fff;
	margin: 5px 5px;
	width: 600px;
}
.epscontainer h3 {
	padding-top: 10px;
	margin-block-end: 5px;

}

.epscontainer input {
	background-color: #00aeef;
	color: #fff;
	padding: 11px 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	font-size: 16px;
}
.seeneps hr {
	width: 95%;
	border-color: #00aeef;
}
.seeneps h4 {
	margin-block-end: 3px;
}
.seeneps span{
	background-color: #00aeef; 
	border: none;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
}

/*SERIE and FILM*/

.poster {
	margin: 20px 0;
	margin-right: 30px;
	width: 40%;
	max-width: 300px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}	
.descr {
	margin: 20px 0;
	display: inline-block;
	max-width: 50%;
	text-align: left;
} 
.epsds {
	margin-top: 50px;
	font-size: 110%;
	color: #fff;
	display: inline-block;
	max-width: 100%;
}
.ep a {
	color: #00aeef;
	text-decoration: none;
}
.stagname{
	font-size: 120%;
	margin-top: 40px;
	margin-bottom: 25px;
	text-transform: uppercase;
	text-align: center;
}

.ep {
	margin: 10px 5px;
	width: 100%;
	max-width: 400px;
	height: 150px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px 4px 0px 0px;
}

.ep:hover {
	transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-webkit-transition: opacity .15s ease-in-out;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
}

.ep p.link {
  visibility: visible;
}
.ep:hover > p.link {
  visibility: visible;
}

.ep:hover > p.info {
  visibility: visible;
}
.progress{
	margin-top: 25px;
	text-align: center;
}
.meter { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	height: 20px;  /* Can be anything */
	position: relative;
	background: rgb(218,218,218);
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	padding: 5px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
	margin-top: 15px;
}
.meter > span {
  display: block;
  height: 100%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: rgb(0,174,239);
  background-image: linear-gradient(
	center bottom,
	rgb(0,174,239) 37%,
	rgb(84,240,84) 69%
  );
  box-shadow: 
	inset 0 2px 9px  rgba(255,255,255,0.3),
	inset 0 -2px 6px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
}
.meter > span:after, .animate > span > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: linear-gradient(
	-45deg, 
	rgba(255, 255, 255, .2) 25%, 
	transparent 25%, 
	transparent 50%, 
	rgba(255, 255, 255, .2) 50%, 
	rgba(255, 255, 255, .2) 75%, 
	transparent 75%, 
	transparent
  );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
  animation: move 2s linear infinite;
}
.animate > span:after {
  display: none;
}
@keyframes move {
  0% {
	background-position: 0 0;
  }
  100% {
	background-position: 50px 50px;
  }
}
/* END*/

.pages span{
	background-color: #00aeef;
	border: none;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
}
.serierow, .serierow p{
	 margin-bottom: 50px!important
}

@media (min-width: 992px) { 
.header {
	max-width: 100%;
}
img .header{
	max-width: 100%;
}
.menu {
	max-width: 100%;
}
form {
	max-width: 100%;
}
.container {
	max-width: 1300px;
	align-content: center;
}


}
.lastseries {
	max-width: 100%;
	display: flex;
	align-items: flex-end;
}
.lasttext{
	margin-top: 40px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.serie {
	/*float: left;*/
	flex: 18%;
	padding: 0 8px;
	align-self: flex-start;
	text-align: center;
}

.serie img{
	width: 100%;
	height: auto;
	max-width: 250px;
}

.serie p{
	max-width: 100%;
}
.serie a{
	text-decoration: none;
	color: white;
}
.lastseries::after {
	content: "";
	clear: both;
	display: table;
}

.footer {
	height: 50px;
}

.header img{
	max-width: 100%;
}
.love {
	margin-top: 25px;
	text-align: center
}
.love span{
	color: red;
}
.allseriesrow {
	width: 100%;
}
.serierow {
	width: 100%;
	min-height: 250px;
	vertical-align: top;
	margin: 25px 0;
}
.serierow img{
	width: auto;
	max-height: 250px;
	display: inline-block;
}
.serierow p{
	width: 70%;
	display: inline-block;
	vertical-align: top;
	margin: 0 17px;
	text-align: left;
}
.pages span{
	background-color: #00aeef;
	border: none;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
}	


/* Profilo */

.pagina-profilo h3 {
	padding: 40px 0 60px;
}

ul.mie-serie {
	width: 100%;
	padding: 0;
}

li.mia-serie {
	width: 29%;
	padding: 23px;
}

.mia-serie{
	display: flex;
    align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
}

.mia-serie-img {
	flex: 33%;
}

.mia-serie img {
	height: 150px;
	max-width: 110px;
}

.mia-serie-info {
	flex: 65%;
	text-align: left;
	align-content: flex-end;
}

.mia-serie p {
}

.remove-serie-btn {
	padding: 5px;
	background-color: #B80003;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 3px;
}

.remove-eps-btn {
	padding: 5px;
	background-color: #676767;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin: 3px;
}

.nostyle-form{
	padding: 0;
	border: none;
	margin-left: 0;
	align-content: flex-start;
	text-align: left;
}

.rimuovi-episodi h3{
	padding: 40px 0 60px;
}

.rimuovi-episodi .mie-serie  img {
	max-width: 200px;
}

table.seen-eps-list {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 40px 0;
}

table.seen-eps-list td, table.seen-eps-list th {
  border: 1px solid #3D3D3D;
  text-align: left;
  padding: 8px;
}

table.seen-eps-list tr:nth-child(even) {
  background-color: #3D3D3D;
}

table.seen-eps-list tr.eps:hover {
	background-color: #00aeef;
}



@media only screen and (max-width: 600px) {
	body {
		max-width: 93%;
	}
	
	ul {
	width: 60%;
    list-style-type: none;
    margin: 0;
    padding: 0 0px 0 5px;
    overflow: hidden;
	}

	li a {
		text-align: center;
		padding: 7px 8px;
	}

	.menu ul{
	width: 60%;
	}

	.search{
		padding: 14px 16px;
	}
	.menu input {
		height: 25px;
	}
	
	.profile_info, ul.login {
		width: 32%;
		padding: 0 5px 0 0;
		display: inline;

	}
	.profile_info div {
		display: inline-block; 
		width: 100%;
	}
	.profile_info:after {
		content: "";
		display: block;
		clear: both;
	}
	ul.login {
		width: 100%;
	}
	
	.input-group {
		margin: 10px 0px 40px 0px;
	}
	
	.input-group label {
		display: block;
		text-align: center;
		margin: 20px 0 20px 0px;
	}
	.input-group input {
		height: 30px;
		width: 70%;
		padding: 5px 10px;
		font-size: 16px;
		border-radius: 5px;
		border: 1px solid gray;
	}
}