@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-size: 120%;
	background: #F8F8FF;
	font-family: 'Lato', sans-serif;
}

a {
	color:white;
}

.header {
	max-width: 700px;
	width: 95%;
	margin: 50px auto 0px;
	color: #00aeef;
	background: #dadada;
	text-align: center;
	border: 1px solid #00aeef;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}



.menu {
	max-width: 700px;
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #00aeef;
	color: #00aeef;
	background-color: #fff;
	border-bottom: none;
}

ul {
	width: 30%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: left;
}

ul.login {
	width: 100%!important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	float: right;
}

li {
    float: left;
}


li.login {
    float: right;
}

li a {
    display: block;
	color: #00aeef;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    background-color: #231F20;
}

li a.active {
	text-decoration: underline;
}

.menu ul{
width: 70%;
}
.search{
	padding: 14px 16px;
}
.menu input {
	height: 25px;
}
.profile_info {
		width: 26%;
		display: inline-block;
}
.menu form{
	border: none;
	margin: 0;
	padding: 0;
}

form, .content {
	max-width: 700px;
	width: 95%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #00aeef;
	color: white;
	background-color: #231F20;
	border-radius: 0px 0px 10px 10px;
}
.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
#user_type {
	height: 40px;
	width: 98%;
	padding: 5px 10px;
	background: white;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}
.btn {
	padding: 10px;
	font-size: 15px;
	color: white;
	background: #00aeef;
	border: none;
	border-radius: 5px;
}
.error {
	width: 92%; 
	margin: 0px auto; 
	padding: 10px; 
	border: 1px solid #a94442; 
	color: #a94442; 
	background: #f2dede; 
	border-radius: 5px; 
	text-align: left;
}
.success {
	color: #3c763d; 
	background: #dff0d8; 
	border: 1px solid #3c763d;
	margin-bottom: 20px;
}

.profile_info img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: right;
}

.profile_info div {
	display: inline-block; 
	float: right;
}

.profile_info:after {
	content: "";
	display: block;
	clear: both;
}

.btn,.button {
	border:none;
	display:inline-block;
	padding:8px 16px;
	vertical-align:middle;
	overflow:hidden;
	text-decoration:none;
	color:inherit;
	background-color:inherit;
	text-align:center;
	cursor:pointer;
	white-space:nowrap
}
.btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.btn,.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.disabled,.-btn:disabled,.button:disabled{cursor:not-allowed;opacity:0.3}.disabled *,:disabled *{pointer-events:none}
.btn.disabled:hover,.btn:disabled:hover{box-shadow:none}
.blue,.hover-blue:hover{color:#fff!important;background-color:#00aeef!important}
.del,.hover-del:hover{color:#fff!important;background-color:#C40609}
.delbtn {padding: 4px 8px; margin-top: 2px;}
.footer, a.a {font-size:13px;text-align:center;color: #231F20;margin-top: 25px;}
.footer a{
	color: #231F20;
}
.myfile img {
	display: inline-block; 
	width: 50px; 
	height: 50px; 
	margin: 5px;
	float: right;
}
.myfile div {display: inline-block; margin: 5px;}
.myfile:after {content: "";display: block;clear: both;}

.disabled {
	cursor: not-allowed;
}
input[type="text"]:disabled {
  background: #ccc;
}

.invisible {
	border: none;
	padding: 0px;
	margin: 5px;
	
}
.logged {
	color: #fff;
	padding-top: 20px;
	font-size: 120%;
}
.notlogged {
	color: #fff;
	padding: 20px 0;
	font-size: 120%;
	background-color: #231f20;
	border: 1px solid #00aeef;
}
.epscontainer {
	background-color: #231f20;
	border: 1px solid #00aeef;
	color: #fff;
	margin: 5px 5px;
	width: 600px;
}
.epscontainer h3 {
	padding-top: 10px;
	margin-block-end: 5px;

}

.epscontainer input {
	background-color: #00aeef;
	color: #fff;
	padding: 11px 24px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border: none;
	font-size: 16px;
}
.seeneps hr {
	width: 95%;
	border-color: #00aeef;
}
.seeneps h4 {
	margin-block-end: 3px;
}
.seeneps span{
	background-color: #00aeef; 
	border: none;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
}

@media (min-width: 992px) { 
				.header {
					max-width: 970px;
				}
				img .header{
					max-width: 100%;
				}
				.menu {
					max-width: 970px;
				}
				form {
					max-width: 970px;
				}
				
				
			}
.lastseries {
	max-width: 100%;
	display: flex;
	align-items: flex-end;
}
.lasttext{
	margin-top: 40px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.serie {
	/*float: left;*/
	flex: 18%;
	padding: 0 8px;
	align-self: flex-start;
	text-align: center;
}

.serie img{
	width: 100%;
	height: auto;
}

.serie p{
	max-width: 100%;
}
.serie a{
	text-decoration: none;
	color: white;
}
.lastseries::after {
	content: "";
	clear: both;
	display: table;
}

.footer {
	height: 50px;
}

.header img{
	max-width: 100%;
}
.love {
	margin-top: 25px;
	text-align: center
}
.love span{
	color: red;
}
.allseriesrow {
	width: 100%;
}
.serierow {
	width: 100%;
	max-height: 250px;;
	vertical-align: top;
	margin: 25px 0;
}
.serierow img{
	width: 18%;
	height: auto;
	display: inline-block;
}
.serierow p{
	width: 70%;
	display: inline-block;
	vertical-align: top;
	margin: 0 17px;
}
.pages span{
	background-color: #00aeef;
	border: none;
	color: white;
	padding: 5px 13px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 8px;
}	